@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-primary: #244556;
  --color-secondary: #c9e265;
  --color-accent: #38b6ff;
  --color-success:#22c55e;
}
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --primary: #244556;
    --secondary: #c9e265;
    --accent: #38b6ff;
    --success:#22c55e
  }
}
body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  /* custom components */
}

@layer utilities {
  /* custom utilities */
}
